body{
  margin: 0px !important;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-links {
  color: black;
  font-size: 17px;
  font-weight: 500;
  transition: .3s;
}

.navbar-links:hover {
  color: #EC1C24;
}

.active {
  color: #EC1C24;
}

.dropdown1 {
  position: relative;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  min-width: 200px;
  box-shadow: 2px 8px 16px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0px 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown1:hover .dropdown-content {
  display: block;
}